c ****************************************************************
c **     This is a Sat-2003 Competition *SHUFFLED* instance     **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by: Rachel Bevan (McGill University, Montreal, CA)
c              email: rachel@mcb.mcgill.ca
c 
c The original name of this formula was: 
c    handmade/bevan/cnf/dodecahedron.cnf
c Category : HandMade
c The name used during the competition was: 
c     handmade/set103/sat03-1429.cnf
c The random seed used to shuffle this instance  was: 2129971802
c 
c CPU time of solvers on this bench during the first stage 
c  (including Hors-Concours solvers):
c   +------------+--------+--------+
c   | Solver     | Time   | Answer |
c   +------------+--------+--------+
c   | berkmin561 |   0.00 |  UNSAT |
c   | funex      |   0.00 |  UNSAT |
c   | limmat     |   0.00 |  UNSAT |
c   | marchsp    |   0.00 |  UNSAT |
c   | oepir      |   0.00 |  UNSAT |
c   | zchaff     |   0.00 |  UNSAT |
c   | forklift   |   0.01 |  UNSAT |
c   | jerusat1a  |   0.01 |  UNSAT |
c   | jerusat1b  |   0.01 |  UNSAT |
c   | jerusat1c  |   0.01 |  UNSAT |
c   | lsat       |   0.01 |  UNSAT |
c   | marchtt    |   0.01 |  UNSAT |
c   | sato       |   0.01 |  UNSAT |
c   | siege      |   0.01 |  UNSAT |
c   | tts        |   0.01 |  UNSAT |
c   | xqingting  |   0.01 |  UNSAT |
c   | bmsat      |   0.02 |  UNSAT |
c   | kcnfs      |   0.02 |  UNSAT |
c   | satzoo0    |   0.03 |  UNSAT |
c   | satnik     |   0.04 |  UNSAT |
c   | satzoo1    |   0.07 |  UNSAT |
c   | satzilla   |   0.17 |  UNSAT |
c   | berkmin62  |   0.47 |  UNSAT |
c   | opensat    |   0.65 |  UNSAT |
c   | jquest2    |   0.85 |  UNSAT |
c   | satzilla2  |  30.28 |  UNSAT |
c   | farseer    |  38.49 |  UNSAT |
c   | amvo       | 900.00 |   --   |
c   | compsat    | 900.00 |   --   |
c   | marchxq    | 900.00 |   --   |
c   | qingting   | 900.00 |   --   |
c   | saturn     | 900.00 |   --   |
c   | unitwalk   | 900.00 |   --   |
c   +------------+--------+--------+
c
c Old header begins here:
c The random seed used to shuffle this instance was seed=2129971802
p cnf 30 80
-27 -2 -11 0
-1 -10 22 0
-15 22 -19 0
-24 -17 -6 0
-23 -20 13 0
25 2 26 0
28 -23 29 0
26 -7 17 0
-30 -13 -16 0
6 17 -24 0
-2 11 27 0
-28 -14 6 0
24 -20 27 0
-1 -22 10 0
14 -19 -8 0
-21 -29 15 0
-18 -12 -1 0
21 -15 -29 0
27 -11 2 0
28 6 14 0
15 -22 -19 0
7 -26 17 0
-25 9 -3 0
30 -5 11 0
-7 -4 -8 0
-6 14 -28 0
23 13 20 0
-28 -29 -23 0
13 30 -16 0
-2 25 -26 0
-27 2 11 0
20 -23 -13 0
7 -17 26 0
-16 21 -18 0
1 -22 -10 0
7 -8 4 0
9 3 25 0
3 -10 4 0
9 -5 12 0
20 -24 27 0
3 10 -4 0
25 -3 -9 0
-21 -15 29 0
11 5 -30 0
-30 -11 -5 0
-20 23 -13 0
1 12 -18 0
13 -30 16 0
22 15 19 0
9 -12 5 0
24 6 -17 0
-1 18 12 0
8 4 -7 0
-9 3 -25 0
-4 -10 -3 0
-28 29 23 0
5 -11 30 0
26 -25 -2 0
24 -27 20 0
18 -12 1 0
14 19 8 0
16 -13 30 0
18 -21 -16 0
-19 8 -14 0
28 23 -29 0
1 22 10 0
-26 -17 -7 0
17 24 -6 0
-27 -20 -24 0
-3 4 10 0
5 -9 12 0
2 -25 -26 0
7 -4 8 0
-22 -15 19 0
29 21 15 0
18 21 16 0
-5 -12 -9 0
-8 19 -14 0
-21 -18 16 0
28 -6 -14 0
