c ****************************************************************
c **     This is a Sat-2003 Competition *SHUFFLED* instance     **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by: Rachel Bevan (McGill University, Montreal, CA)
c              email: rachel@mcb.mcgill.ca
c 
c The original name of this formula was: 
c    handmade/bevan/cnf/urqh1c2x2.cnf
c Category : HandMade
c The name used during the competition was: 
c     handmade/set103/sat03-1457.cnf
c The random seed used to shuffle this instance  was: 1939736928
c 
c CPU time of solvers on this bench during the first stage 
c  (including Hors-Concours solvers):
c   +------------+--------+--------+
c   | Solver     | Time   | Answer |
c   +------------+--------+--------+
c   | berkmin561 |   0.00 |  UNSAT |
c   | forklift   |   0.00 |  UNSAT |
c   | funex      |   0.00 |  UNSAT |
c   | kcnfs      |   0.00 |  UNSAT |
c   | limmat     |   0.00 |  UNSAT |
c   | marchtt    |   0.00 |  UNSAT |
c   | satnik     |   0.00 |  UNSAT |
c   | sato       |   0.00 |  UNSAT |
c   | siege      |   0.00 |  UNSAT |
c   | tts        |   0.00 |  UNSAT |
c   | zchaff     |   0.00 |  UNSAT |
c   | bmsat      |   0.01 |  UNSAT |
c   | jerusat1a  |   0.01 |  UNSAT |
c   | jerusat1b  |   0.01 |  UNSAT |
c   | jerusat1c  |   0.01 |  UNSAT |
c   | lsat       |   0.01 |  UNSAT |
c   | marchsp    |   0.01 |  UNSAT |
c   | oepir      |   0.01 |  UNSAT |
c   | satzoo0    |   0.01 |  UNSAT |
c   | xqingting  |   0.01 |  UNSAT |
c   | satzoo1    |   0.03 |  UNSAT |
c   | satzilla   |   0.14 |  UNSAT |
c   | farseer    |   0.24 |  UNSAT |
c   | opensat    |   0.44 |  UNSAT |
c   | jquest2    |   0.47 |  UNSAT |
c   | berkmin62  |   0.61 |  UNSAT |
c   | satzilla2  |  30.32 |  UNSAT |
c   | amvo       | 900.00 |   --   |
c   | compsat    | 900.00 |   --   |
c   | marchxq    | 900.00 |   --   |
c   | qingting   | 900.00 |   --   |
c   | saturn     | 900.00 |   --   |
c   | unitwalk   | 900.00 |   --   |
c   +------------+--------+--------+
c
c Old header begins here:
c The random seed used to shuffle this instance was seed=1939736928
p cnf 15 64
2 1 12 -14 -5 0
-6 9 8 0
3 13 -5 0
-10 -11 -8 13 2 0
-11 -6 -4 -7 0
14 -12 1 -2 5 0
7 -6 -4 11 0
-10 11 -2 8 -13 0
-15 3 14 -9 0
14 -2 -1 5 12 0
-3 -9 -14 -15 0
-11 10 -13 -2 8 0
-15 3 -14 9 0
-1 -12 -14 -5 2 0
14 -9 15 -3 0
-8 6 9 0
5 -12 1 2 -14 0
13 10 8 -11 2 0
2 8 -11 -10 -13 0
-4 12 10 0
-11 7 -6 4 0
-1 5 -12 14 2 0
-13 -8 11 10 -2 0
-13 11 8 2 10 0
7 15 -1 0
-13 -3 -5 0
-9 6 8 0
7 6 -4 -11 0
-3 -15 14 9 0
-10 4 12 0
3 5 -13 0
9 14 15 3 0
-3 5 13 0
10 -2 13 -8 -11 0
12 5 1 -2 -14 0
-6 -8 -9 0
14 2 -12 -5 1 0
11 4 -6 -7 0
6 11 -7 -4 0
-8 2 10 -13 -11 0
-1 -2 -14 12 -5 0
-14 -2 -5 1 -12 0
2 -14 5 -1 12 0
9 -14 -3 15 0
-1 -7 -15 0
-9 3 -14 15 0
2 -10 11 13 8 0
7 4 6 11 0
-11 -10 13 -2 8 0
-2 -8 11 13 -10 0
5 1 14 12 2 0
-11 -8 -2 -10 -13 0
-1 -5 12 2 14 0
-5 12 -2 1 14 0
-15 7 1 0
-7 15 1 0
-1 5 -12 -14 -2 0
-12 -4 -10 0
-13 2 -10 -8 11 0
8 11 13 -2 10 0
-12 4 10 0
11 2 -8 13 10 0
-12 -5 14 -1 -2 0
-11 -7 4 6 0
